.type-filter__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #336cfb;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.type-filter {
  display: flex;
  flex-wrap: wrap;
  gap: 0 6rem;
}

.type-filter__styled-radio {
  display: inline-block;
  padding: 1rem;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.1px;

  color: #fff;
  background-color: #336cfb;

  border-radius: 0.5rem;

  cursor: pointer;
}

.type-filter__radio:checked + .type-filter__styled-radio {
  background-color: #fff;
  color: #336cfb;
}

.division-add__btn {
  border: none;
  background: none;
  cursor: pointer;
}

.visually-hidden {
  display: none;
}
