.search-result {
  margin-bottom: 2.5rem;

  h2 {
    text-align: center;
    font-size: 1.8rem;
    background-color: #1ebb9f;
    padding: 2rem 0;
    color: #fff;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .search-result__response {
    background-color: #fff;
    width: 100%;
    border-collapse: collapse;
  }
}
