.add-operator__btn {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  border: 1px solid #e1e6ef;
  padding: 1rem 1.6rem;
  border-radius: 10rem;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  img {
    margin-left: 1rem;
  }
}
