.database-operators__table-title__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1ebb9f;
  color: #fff;
  padding: 1.5rem;

  .database-operators__table-title {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

 
}
