.database-operators__table-title {
  background-color: #1ebb9f;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 1.5rem;
}
