.dashboard {
  display: flex;
  justify-content: space-between;

  .dashboard-content {
    width: 80%;

    .common-statistics__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .sidebar-open {
    width: 100%;
  }

 
}
