.extended-filter-modal {
    background-color: #fff;
    border: 1px solid #e1e6ef;
    padding: 2rem;
    position: absolute;
    width: 100%;
    margin-top: 30rem;
    border-radius: 1rem;
    z-index: 2;
    
    .extended-filter__selects {
        display: flex;
        justify-content: space-between;
    }

    .extended-filter__btns {

        display: flex;
        justify-content: space-between;
        margin-top: 10rem;
    }
}