.excel-btn {
  border: none;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  padding: 1.2rem 1.6rem;
  border-radius: 10rem;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #00800099;
  cursor: pointer;
}
