.supervisor-input__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;
  padding: 4.5rem;

  .supervisor-input__title {
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: 0.1px;
  }

  .supervisor-input__searchbar {
    margin: 20px;
    width: 45rem;

    .supervisor-input__search-input {
      border: 1px solid #a0a4a8;
      border-radius: 0.8rem;
      padding: 1rem;
      background-color: #fff;

      .selected-results {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-wrap: wrap;

        border-radius: 5px;
        font-size: 1.4rem;
        overflow-y: scroll;
        max-height: 10rem;

        .selected-result {
          display: flex;
          align-items: center;
          background-color: #e1e6ef;
          color: #000;
          width: max-content;
          margin-right: 0.5rem;
          margin-bottom: 0.5rem;
          border-radius: 0.5rem;
          padding: 0.2rem 0.8rem;

          p {
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            line-height: 22px;

            margin-right: 1rem;
          }
        }
      }

      .selected-results__none {
        display: none;
      }

      input[type="text"] {
        outline: none;
        border: none;

        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        letter-spacing: 0.1px;
        width: 100%;
      }
    }

    .search-results {
      background-color: #fff;
      border-radius: 5px;
      font-size: 1.4rem;
      display: none;

      .search-result {
        // margin-bottom: 5px;
        padding: 0.5rem 1.2rem;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px;
        color: #000;

        &:hover {
          background-color: #e1e6ef;
        }
      }
    }
    .search-results__active {
      display: block;
    }
  }
}
