.database-operators__table-data {
  td {
    border: 1px solid #becadc;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
