@import "../../assets/scss/variables.scss";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: $blue;
    #logo {
        padding: 30px 0;
    }
}