.navbar {
  list-style-type: none;
  padding: 0;
  overflow: hidden;

  li {
    float: left;
    padding: 1.4rem 0;
    margin-right: 3.3rem;

    .nav-link {
      display: block;
      color: #52575c;
      text-align: center;
      text-decoration: none;

      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.1px;
      &:active {
        color: #51575c80;
      }
    }

    // NavLink active
    .nav-link__active {
      color: #558eff;
    }
  }
}
