.cancel-btn {
  border: 1px solid #e1e6ef;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.8rem;
  letter-spacing: 0.2px;
  color: #64748b;
  background: none;
  padding: 1.5rem 5rem;
  border-radius: 0.8rem;
  cursor: pointer;

  &:active {
    background-color: #64748b7a;
  }
}
