.more-modal__body-wrapper {
  display: flex;
  margin-top: 2rem;

  .more-modal__single-info__wrapper {
    width: 55%;
    height: max-content;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
  }

  .more-modal__documents-wrapper {
    width: 45%;
    height: max-content;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
