.input-with__title {
  display: flex;
  align-items: center;
  justify-content: space-between;


  p {
    color: #64748b;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

  }

  input {
    outline: none;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.25);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0.8rem 1.2rem;
    color: #000;
    width: 50%;
  }
}
